
body{
  background-color: white;
}

.header{
  background: #F55A5A;
  align-items: center;
  padding: 10px;
  color: white;
}

.header span{
  font-size: 20px;
}

.globe-img{
  width: 20px;
  margin-right: 10px;
}